@charset "UTF-8";

html, body{
	height: 100%;
	width: 100%;
	font-size: 14px;
}

.h-auto{
	height: auto !important;
}

.wow {
   visibility: hidden;
}

#qLoverlay{
    background: #00913f !important;
}

a{
    transition: 0.2s linear all;
    -webkit-transition: 0.2s linear all;
    -o-transition: 0.2s linear all;
    -moz-transition: 0.2s linear all;
    -ms-transition: 0.2s linear all;
}

a:hover{
	color: white;
}

h1, h2, h3, h4, h5, h6, a {
    padding: 0;
    margin: 0;
    font-weight: normal;
    line-height: 1;
}

h5{
	margin-top:0;
	margin-bottom:.5rem;
}

.bg-verde{
	background: #00913f;
}

.txt-verde{
	color: #00913f;
}


/*--:::: ENCABEZADO  ::::--*/

.encabezado{
	background: #00913f;
}

.menu li{
	padding-left: 15px;
	padding-right: 15px;
}

.menu li a{
	color: #fff !important;
	font-size: 13px;
	font-family: toyota-regular-1, toyota-regular-2, arial;
}

.redes-sociales li a{
	width: 32px;
	height: 32px;
	color: #fff;
	border:1px solid #fff;
	padding: 5px ;
	border-radius: 1000px;
	text-align: center;
	font-size: 18px;
	line-height: 22px;
	margin-left: 5px;
	margin-right: 5px;
}

/*:::::: BIENVENIDOS :::::::*/

.bienvenidos{
	height: 100%;

}

.bienvenidos .caja-slider{
	background: url("../imagenes/bg-cuadro-slider.png") no-repeat center top;
	background-size: 100% 100%;
	padding: 80px 90px 60px 90px;
}

.bienvenidos .caja-slider h3{
	font-family: cervo-light-1, cervo-light-2, arial;
	font-size: 30px;
	color: #00913f;
	text-align: center;
	letter-spacing: 5px;
}

.bienvenidos .caja-slider h2{
	font-family: cervo-light-1, cervo-light-2, arial;
	font-size: 60px;
	color: #00913f;
	text-align: center;
}

.bienvenidos .caja-slider p{
	font-family: mark_pro-1, mark_pro-2, arial;
	font-size: 16px;
	text-align: center;
	line-height: 18px;
}

.bienvenidos .caja-slider .carousel-control-next, .bienvenidos .caja-slider .carousel-control-prev{
	display: none;
}


.icono-down{
	position: absolute;
	bottom: 10px;
	text-align: center;
	z-index: 100;
}

.icono-down a i{
	width: 60px;
	height: 60px;
	border-radius: 1000px;
	background: #00913f;
	color: #fff;
	font-size: 30px;
	text-align: center;
	line-height: 60px;
	-webkit-box-shadow: 10px 10px 33px -15px rgba(0,0,0,0.62);
	-moz-box-shadow: 10px 10px 33px -15px rgba(0,0,0,0.62);
	box-shadow: 10px 10px 33px -15px rgba(0,0,0,0.62);
}

.icono-down-h{
	position: absolute !important;
	bottom: 10px !important;
	text-align: center !important;
	z-index: 100 !important;


    right: inherit !important;
    top: inherit !important;
    z-index: inherit !important;
    list-style: none;
    margin: inherit !important;
    padding: inherit !important;


}



.icono-down-h  li a:before{

    position: absolute;
    width: 0px !important;
    height: 0px !important;


}

.back-g{
	background-color: #00913f;
}

.icono-down-h li a {
	display: inline !important;
}

.icono-down-h a i{
	width: 60px !important;
	height: 60px !important;
	border-radius: 1000px !important;

	color: #fff !important;
	font-size: 30px !important;
	text-align: center !important;
	line-height: 60px !important;
	-webkit-box-shadow: 10px 10px 33px -15px rgba(0,0,0,0.62) !important;
	-moz-box-shadow: 10px 10px 33px -15px rgba(0,0,0,0.62) !important;
	box-shadow: 10px 10px 33px -15px rgba(0,0,0,0.62) !important;
}

.bienvenidos-resp .icono-down{
	display: block !important;
	position: relative !important;
	bottom: auto;
}

.down-resp i{
	width: 50px;
	height: 50px;
	border-radius: 1000px;
	border: 2px solid #00913f;
	color: #00913f;
	font-size: 40px;
	line-height: 45px;
}


/*:::::: SABIAS QUE :::::::*/


.sabias-que{
	background: url("../imagenes/bg-sabias-que.png") no-repeat center center;
	background-size: 100% 100%;
	padding-top: 90px;
	padding-bottom: 40px;
	height: 100%;
}

.sabias-que .titulo{
	text-align: center;
	padding-top: 60px;
}

.sabias-que .titulo h2{
	font-family: cervo-light-1, cervo-light-2, arial;
	font-size: 80px;
	color: #00913f;
	margin-bottom: 10px;
}

.sabias-que .titulo h3{
	font-family: cervo-light-1, cervo-light-2, arial;
	font-size: 27px;
	letter-spacing: 2px;
}

.sabias-que .columna img{
	margin:0 auto;
	margin-bottom: 20px;
}

.sabias-que .columna h1{
	font-family: austin-extrabold-1, austin-extrabold-2, arial;
	text-align: right;
	color: #00913f;
	font-size: 70px;
	margin: 0 10px 0 30px;
}

.sabias-que .columna h2{
	font-family: cervo-light-1, cervo-light-2, arial;
	color: #00913f;
	font-size: 27px;
	line-height: 28px;
}

.sabias-que .columna p{
	font-family: mark_pro-1, mark_pro-2, arial;
	font-size: 14px;
	line-height: 15px;
	text-align: center;
}

.sabias-que .b1{
	background: url("../imagenes/bg-sabias-que-b1.png") no-repeat center center;
	background-size: 100% 100%;
}
.sabias-que .b2{
	background: url("../imagenes/bg-sabias-que-b2.png") no-repeat center center;
	background-size: 100% 100%;
}
.sabias-que .b3{
	background: url("../imagenes/bg-sabias-que-b3.png") no-repeat center center;
	background-size: 100% 100%;
}
.sabias-que .b4{
	background: url("../imagenes/bg-sabias-que-b4.png") no-repeat center center;
	background-size: 100% 100%;
}
.sabias-que .b5{
	background: url("../imagenes/bg-sabias-que-b5.png") no-repeat center center;
	background-size: 100% 100%;
}
.sabias-que .b6{
	background: url("../imagenes/bg-sabias-que-b6.png") no-repeat center center;
	background-size: 100% 100%;
}

@media screen and (max-height: 768px){

	.caja{

		transform: scale(0.8);

	 }

	 .caja[data-sec='qsomos']{

		transform: scale(0.9);

	 }

}

@media screen and (max-width: 768px){

	.caja{

		transform: scale(1);

	 }

}

/*:::::: RECETAS :::::::*/

.recetas{
	background: url("../imagenes/bg-recetas.png") no-repeat center center #00913f;
	background-size: 100%;
	height: 100%;
}

.recetas .caja{
	z-index: 2;
}

.recetas-1{
	position: absolute;
	top: 0;
	right: 0;
}

.recetas-2{
	position: absolute;
	top: 50%;
	left: 0;
	margin: -15% 0 0 0;
}

.recetas-3{
	position: absolute;
	bottom: 0;
	right: 0;
}

.recetas .caja .titulo{
	text-align: center;
}

.recetas .caja .titulo h1{
	font-family: cervo-light-1, cervo-light-2, arial;
	color: #fff;
	font-size: 80px;
	margin-top: 20px;
	margin-bottom: 15px;
	padding-bottom: 10px;
	border-bottom: 4px solid #fff;
}

.recetas .caja .titulo h2{
	font-family: cervo-light-1, cervo-light-2, arial;
	color: #fff;
	font-size: 25px;
	line-height: 27px;
	letter-spacing: 5px;
	margin-bottom: 60px;
}

.recetas .caja .bloq img{
	overflow: hidden;
	border-radius: 10px;
	margin-bottom: 20px;
}

.recetas .caja .bloq h3{
	background: #fff;
	padding: 10px;
	font-family: cervo-light-1, cervo-light-2, arial;
	color: #00913f;
	font-size: 25px;
	text-align: center;
	border-radius:10px 10px 0 0;
}


/*:::::: INSPIRACION :::::::*/

.inspiracion{
	height: 100%;
	text-align: center;
}

.inspiracion .titulo{
	padding-top: 60px;
}

.inspiracion h1{
	font-family: cervo-light-1, cervo-light-2, arial;
	color: #00913f;
	font-size: 80px;
	margin-top: 20px;
	margin-bottom: 15px;
	padding-bottom: 10px;
	border-bottom: 4px solid #fff;
}

.inspiracion p{
	font-family: mark_pro-1, mark_pro-2, arial;
	font-size: 16px;
	text-align: center;
	line-height: 18px;
	color: #888b89;
}

.inspiracion h2{
	font-family: cervo-light-1, cervo-light-2, arial;
	color: #00913f;
	font-size: 40px;
}


.inspiracion h3{
	font-family: mark_pro-1, mark_pro-2, arial;
	font-size: 18px;
	text-align: center;
	line-height: 18px;
}

.slider-inspiration{
	bottom: -60px !important;
}

@media screen and (max-width: 768px){
	.slider-inspiration{
		bottom: -30px !important;
	}

}
@media screen and (max-width: 960px){

	.inspiracion {
	    height: auto;
	    padding-top: 40px;
	    padding-bottom: 40px;
	}

	.inspiracion .titulo{
		padding-top: 0px;
	}

	.slider-inspiration{
		bottom: -50px !important;
	}

}


.pie{
	padding-top: 10% !important;
	height: 100% !important;
	text-align: center;
	padding: 25px 0 0 0;
	background: url("../imagenes/bg-pie.jpg") no-repeat #00913f;

}

.pie h1{
	font-family: cervo-light-1, cervo-light-2, arial;
	color: #fff;
	font-size: 80px;
	margin-bottom: 20px;
}

.pie h2{
	font-family: mark_pro-1, mark_pro-2, arial;
	font-size: 19px;
	line-height: 19px;
	color: #fff;
}

.pie p{
	font-family: mark_pro-1, mark_pro-2, arial;
	font-size: 16px;
	line-height: 17px;
	color: #fff;
}

.pie h3{
	font-family: mark_pro-1, mark_pro-2, arial;
	font-size: 16px;
	line-height: 16px;
	color: #fff;
	background: #005224;
	padding: 20px 20px;
	margin-top: 100px;
}


/*:::::: BANNER SOBRE NOSOTROS :::::::*/

.banner-sobre-nosotros{
	height: 100%;
	background: url("../imagenes/banner-sobre-nosotros.jpg") no-repeat top center #00913f;
	background-size: auto 100%;
}

.banner-sobre-nosotros .caja{
	text-align: center;
}

.banner-sobre-nosotros h1{
	font-family: cervo-light-1, cervo-light-2, arial;
	color: #fff;
	font-size: 50px;
	padding-bottom: 10px;
	margin-bottom: 30px;
	border-bottom: 3px solid #fff;
}

.banner-sobre-nosotros h2{
	font-family: cervo-light-1, cervo-light-2, arial;
	color: #fff;
	font-size: 25px;
	letter-spacing: 5px;
}

/*:::::: SOBRE NOSOTROS :::::::*/

.sobre-nosotros{
	height: 100%;
}

.sobre-nosotros h1{
	font-family: cervo-light-1, cervo-light-2, arial;
	color: #00913f;
	font-size: 80px;
	margin-bottom: 15px;
}

.sobre-nosotros p{
	font-family: mark_pro-1, mark_pro-2, arial;
	font-size: 16px;
	line-height: 18px;
}

.video-nosotros{
	max-width: 1400px;
}

/*:::::: FILOSOFIA :::::::*/

.filosofia{
	height: 100%;
	background: #00913f;
	text-align: center;
	background: url("../imagenes/bg-filosofia.jpg") no-repeat bottom center #00913f;
	background-size: auto 100%;
}

.filosofia h1{
	font-family: cervo-light-1, cervo-light-2, arial;
	color: #fff;
	font-size: 80px;
	margin-bottom: 15px;
}

.filosofia p{
	font-family: mark_pro-1, mark_pro-2, arial;
	font-size: 16px;
	line-height: 18px;
	color: #fff;
}

/*:::::: VISION MISION :::::::*/

.vision-mision{
	height: 100%;
	text-align: center;
	color: #00913f;
}



.vision-mision h1{
	font-family: cervo-light-1, cervo-light-2, arial;
	font-size: 80px;
	margin-bottom: 15px;
}

.vision-mision p{
	font-family: mark_pro-1, mark_pro-2, arial;
	font-size: 16px;
	line-height: 18px;
}

.vision-mision img{
	margin-top: 50px;
}

/*:::::: AÑOS :::::::*/

.anhos{
	padding-top: 100px;
	padding-bottom: 100px;
	color: #00913f;

}

.anhos h1{
	font-family: cervo-light-1, cervo-light-2, arial;
	font-size: 80px;
	margin-bottom: 15px;
}

.anhos .bloq{
	border-bottom: 1px solid #00913f;
}

.anhos p{
	font-size: 14px;
}




/*:::::: BANNER PRODUCTOS :::::::*/

.banner-productos{
	height: 100%;
	background: url("../imagenes/banner-productos.jpg") no-repeat top center #00913f;
	background-size: auto 100%;
}

.banner-productos .caja{
	text-align: center;
}

.banner-productos h1{
	font-family: cervo-light-1, cervo-light-2, arial;
	color: #fff;
	font-size: 50px;
	padding-bottom: 10px;
	margin-bottom: 30px;
	border-bottom: 3px solid #fff;
}

.banner-productos h2{
	font-family: cervo-light-1, cervo-light-2, arial;
	color: #fff;
	font-size: 25px;
	letter-spacing: 5px;
}

/*:::::: BANNER CONTACTO :::::::*/

.banner-contacto{
	height: 100%;
	background: url("../imagenes/banner-contacto.jpg") no-repeat top center #00913f;
	background-size: auto 100%;
}

.banner-contacto .caja{
	text-align: center;
}

.banner-contacto h1{
	font-family: cervo-light-1, cervo-light-2, arial;
    color: #fff;
    font-size: 50px;
    padding-bottom: 10px;
    margin-bottom: 30px;
    border-bottom: 3px solid #fff;
}


.banner-contacto h2{
	font-family: cervo-light-1, cervo-light-2, arial;
	color: #fff;
	font-size: 25px;
	letter-spacing: 5px;
}

/*:::::: MAPA :::::::*/



.mapa .caja{
	max-width: 700px;
}

.mapa h1{
	font-family: mark_pro-1, mark_pro-2, arial;
	font-size: 20px;
	line-height: 31px;
	text-align: center;
	color: #00913f;
	margin-bottom: 10px;
}

.mapa .titulo p{
	font-family: mark_pro-1, mark_pro-2, arial;
	font-size: 14px;
	text-align: center;
	line-height: 19px;
	color: #888b89;
}



.mapa .datos p{
	font-family: mark_pro-1, mark_pro-2, arial;
	font-size: 18px;
	line-height: 19px;
	color: #00913f;
}

.mapa .app-mapa{
	text-align: center;
}

.mapa .formulario h1{
	margin-bottom: 20px;
}

.mapa .formulario input, .mapa .formulario textarea{
	margin-bottom: 10px;
	font-family: mark_pro-1, mark_pro-2, arial;
	font-size: 14px;
}

.mapa .formulario button{
	background: #00913f;
	color: #fff;
	font-family: mark_pro-1, mark_pro-2, arial;
	font-size: 20px;
	padding-bottom: 10px;
	padding-top: 10px;
}


/*:::::: RECETAS TOP :::::::*/

.banner-all[data-sec='recetas'] {

	background: url("../imagenes/banner-all.jpg") no-repeat top center #00913f;
	background-size: auto 100%;
}

.banner-all[data-sec='index'] {

	background: url("../imagenes/slider/img-1.jpg") no-repeat top center ;

}

.banner-all[data-sec='index-1'] {

	background: url("../imagenes/slider/img-2.jpg") no-repeat top center ;

}


.banner-all[data-sec='index-2'] {

	background: url("../imagenes/slider/img-3.jpg") no-repeat top center ;

}


.banner-all .caja{
	text-align: center;
}

.banner-all h1{
	font-family: cervo-light-1, cervo-light-2, arial;
	color: #fff;
	font-size: 50px;
	padding-bottom: 10px;
	margin-bottom: 30px;
	border-bottom: 3px solid #fff;
	text-transform: uppercase;
	padding-top: 20px;
}

.banner-all h2{
	font-family: cervo-light-1, cervo-light-2, arial;
	color: #fff;
	font-size: 25px;
	letter-spacing: 5px;
}

.recetas-top{
	position: relative;


	z-index: 3;
}

.recetas-top .caja{
	max-width: 100%;
}

.buscador-recetas{
	margin-bottom: 30px;
}

.buscador-recetas input{
	width: 80% !important;
	border-radius: 5px 0 0 5px !important;
	height: 45px;
	outline: none;
	border: 1px 0 1px 1px;
	border-color: #00913f;
}

.buscador-recetas button{
	width: 20% !important;
	font-family: cervo-light-1, cervo-light-2, arial;
	font-size: 28px;
	line-height: 24px;
	border-radius: 0 5px 5px 0 !important;
	height: 45px;
	background: #00913f;
	color: #fff;
	border: 1px solid #00913f;
}

.menu-recetas-top{
	margin-bottom: 35px;
}

.menu-recetas-top ul li{
	padding-left: 10px;
	padding-right: 10px;
}

.menu-recetas-top ul li a{
	background: #00913f;
	color: #fff;
	padding-top: 15px;
	padding-bottom: 15px;
	font-family: cervo-light-1, cervo-light-2, arial;
	font-size: 24px;
}



.platos-recetas-top a{

	overflow: hidden;
	border-radius: 20px;
	margin-bottom: 10px;
	position: relative;
	width: 100%;
	height: 100%;
}



.delay-recetas{
	opacity: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(255,255,255,0.8);
	padding: 25px !important;
	margin:0 !important;


}

.delay-recetas p{
	text-align: center;
	color: #017132;
	font-family: cervo-light-1, cervo-light-2, arial;
	font-size: 30px;
	margin-bottom: 0;
}

.contenido{
	padding: 50px ;
}

.contenido h1{
	font-family: cervo-light-1, cervo-light-2, arial;
	color: #00913f;
	font-size: 45px;
	margin-bottom: 15px;

}

.contenido .marcas ul{
	list-style: none;
	margin:0;
	padding: 0;
	margin-bottom: 40px;
}

.contenido .marcas ul li{
	font-family: mark_pro-1, mark_pro-2, arial;
}

.contenido .marcas ul li i{
	margin-right: 5px;
	padding-right: 5px;
	color: #00913f;
	border-right: 1px solid #00913f;
}

.contenido h2{
	font-family: cervo-light-1, cervo-light-2, arial;
	color: #00913f;
	margin-bottom: 10px;
}

.contenido p{
	font-family: mark_pro-1, mark_pro-2, arial;
}

.ingredientes li, .ingredientes p{
	font-family: mark_pro-1, mark_pro-2, arial;
}

.extras h3, .extras a{
	text-align: right;
	color: #00913f;
}

.topup{
	display: none;
	position: fixed;
	bottom: 10px;
	right: 10px;
	z-index: 10000;
}

.topup a{
	display: block;
	background: #00913f;
	width: 60px;
	height: 60px;
	border-radius: 1000px;
	text-align: center;
	-webkit-box-shadow: 10px 10px 33px -15px rgba(0,0,0,0.62);
	-moz-box-shadow: 10px 10px 33px -15px rgba(0,0,0,0.62);
	box-shadow: 10px 10px 33px -15px rgba(0,0,0,0.62);
}

.topup a i{
	color: #fff;
	font-size: 30px;
	text-align: center;
	line-height: 50px;
}

.topup a:hover{
	background: #017132;
}

.carousel-item .caja{

	position: absolute;
	z-index: 2;
	top: 0;
	left: :0;
}

/*:::::: TIPOGRAGÍAS :::::::*/
@font-face{
	font-family:toyota-regular-1;
	src:url(../tipografia/toyota-regular.ttf);
}
@font-face{
	font-family:toyota-regular-2;
	src:url(../tipografia/toyota-regular.eot);
}

@font-face{
	font-family:cervo-light-1;
	src:url(../tipografia/cervo-light.ttf);
}
@font-face{
	font-family:cervo-light-2;
	src:url(../tipografia/cervo-light.eot);
}

@font-face{
	font-family:mark_pro-1;
	src:url(../tipografia/mark_pro.ttf);
}
@font-face{
	font-family:mark_pro-2;
	src:url(../tipografia/mark_pro.eot);
}

@font-face{
	font-family:austin-extrabold-1;
	src:url(../tipografia/austin-extrabold.ttf);
}
@font-face{
	font-family:austin-extrabold-2;
	src:url(../tipografia/austin-extrabold.eot);
}



/*:::::: RESPONSIVE :::::::*/

@media screen and (max-width:1250px){


	.icono-down{
		display: none;
	}

}

@media screen and (max-width:991px){

	.sabias-que, .recetas{
		height: auto;
		padding-top: 40px;
		padding-bottom: 40px;
	}

	.side-nav{

		padding: 15px;
	}

	.menu-btn{
		background: rgba(255, 255, 255, 0.8);
		padding: 10px;
	}

	.menu-btn i{
		color: #00913f;
	}


	.bienvenidos .caja-slider{
		background: none;
		padding: 0;
		text-align: center;
		padding-bottom: 30px;
	}

	.sabias-que .titulo{
		padding-top: 0px;
	}

	.sabias-que{
		background-size: 100% 100%;
		padding-top: 50px;
		padding-bottom: 30px;
	}

	.sabias-que .columna{
		padding: 0 30px 20px 30px;
	}

	.sabias-que .columna h1{
		margin: 0 10px 0 0;
	}

	.recetas .caja .titulo h1{
		font-size: 60px;
	}

	.recetas .caja .titulo h2{
		font-size: 20px;
	}

	.inspiracion h1{
		font-size: 60px;
	}

	.banner-sobre-nosotros{
		margin-top: 0;
	}

	.banner-all{
		margin-top: 0;
	}

	.sobre-nosotros{
		height: auto !important;
		text-align: center;
		padding-top: 50px;
		padding-bottom: 50px;
	}

	.sobre-nosotros img{

		margin-bottom: 20px;
		width: 50%;
	}

	.vision-mision{
		height: auto !important;
		padding-top: 80px;
		padding-bottom: 80px;
	}


	.vision-mision img{
		margin-bottom: 30px;
		margin-top: 30px;
	}

	.anhos .bloq{
		padding-bottom: 20px;
		padding-top: 20px;
	}


}


@media screen and (max-width:820px){

	.recetas{
		background-size: auto 100%;
	}

	.recetas .caja .titulo h1{
		font-size: 50px;
	}

	.recetas .caja .titulo h2{
		font-size: 20px;
	}

	.recetas .caja .bloq{
		padding-left: 8px !important;
		padding-right: 8px !important;
		margin-bottom: 15px;
	}

	.recetas .caja .bloq img{
		border-radius: 10px 10px 0 0;
		margin-bottom: 0;
	}

	.recetas .caja .bloq h3{
		font-size: 20px;
		border-radius:0 0 10px 10px;
	}

	.inspiracion h1{
		font-size: 50px;
	}

	.inspiracion h2{
		font-size: 30px;
	}

	.pie{
		background-size: auto;
	}

	.pie h1{
		font-size: 50px;
	}

	.banner-sobre-nosotros h1{
		font-size: 50px;
		padding-bottom: 10px;
		margin-bottom: 20px;
	}

	.sobre-nosotros{
		height: auto;
		padding-top: 50px;
		padding-bottom: 50px;
	}

	.filosofia{
		height: auto;
		padding-top: 250px;
		padding-bottom: 250px;
	}

	.banner-productos h1{
		font-size: 50px;
		padding-bottom: 10px;
		margin-bottom: 20px;
	}
	.banner-productos h2{
		font-size: 16px;
		letter-spacing: 3px;
	}

	.banner-all h1{
		font-size: 60px;
		padding-bottom: 10px;
		margin-bottom: 20px;
	}
	.banner-all h2{
		font-size: 16px;
		letter-spacing: 3px;
	}

	.mapa .titulo{
		margin-bottom: 15px;
	}

	.mapa .datos p{
		text-align: center;
	}

	.buscador-recetas input{
		width: 75% !important;
	}
	.buscador-recetas button{
		width: 25% !important;
	}

	.menu-recetas-top ul li{
		padding-left: 5px;
		padding-right: 5px;
		margin-bottom: 10px;
	}

	.recetas-1, .recetas-2, .recetas-3{
		display: none;
	}


}


@media screen and (max-width:480px){

	.bienvenidos .caja-slider h3{
		font-size: 20px;
	}

	.bienvenidos .caja-slider h2{
		font-size: 40px;
	}

	.sabias-que .titulo h2{
		font-size: 60px;
	}

	.sabias-que .titulo h3{
		font-size: 20px;
	}

	.sabias-que .columna h1{
		font-size: 50px;
		margin: 0 10px 0 0;
	}

	.sabias-que .columna h2{
		font-size: 20px;
		line-height: 21px;
	}

	.buscador-recetas input{
		width: 60% !important;
	}
	.buscador-recetas button{
		width: 40% !important;
	}

	.menu-recetas-top ul li a{
		background: #00913f;
		color: #fff;
		padding-top: 15px;
		padding-bottom: 15px;
		font-family: cervo-light-1, cervo-light-2, arial;
		font-size: 20px;
	}

	.delay-recetas p{
		font-size: 24px;
	}

}

.banner-slide{
	 padding-top: 20%;
}

.carousel-indicators li{
	background-color: #00913f !important;
 }


.carousel-indicators .active{
	background-color: grey !important;
 }


.history {
	height: 100%;
	background-color: #00913f;

}

.history h1{
	font-family: cervo-light-1, cervo-light-2, arial;
	color: white;
	font-size: 70px;
	padding-bottom: 10px;
	margin-bottom: 30px;
	border-bottom: 3px solid #fff;
	margin-top:20px;

}

.history .caja{
	text-align: center;
}


.buscador-l{
	padding-right: 25px;
}

.buscador-r{
	padding-left: 20px;
}

.img-fluid{
	width: 60%;
	height: auto;
	padding-left: 10px;
    padding-right: 10px;
}

.img-fluid[data-sec='huevos']{
	width: 100%;
}

.img-fluid[data-sec='recetas']{
	width: 100%;
}

.img-fluid[data-sec='nosotros']{
	width: 100%;
}

.img-fluid[data-sec='recetas-home']{
	width: 100%;
}

.card-img-overlay:hover {
    max-height: 500px;
    transition: all .5s ease;
}

.card-img-overlay {
    left: calc(50% - 115px);
    right: inherit;
    top: inherit;
    bottom: 0;
    width: 230px;
    max-height: inherit;
    text-align: center;
    background-color: rgba(55,167,74,0.8);
    border-radius: 0.8rem 0.8rem 0 0 !important;
    overflow: hidden;
    transition: all .3s ease;
}
.card-img-overlay, .card-img {
    border-radius: 0;
}

.card-title {
    font-family: cervo-light-1, cervo-light-2;
    font-weight: normal;
    font-size: 1.8rem;
    margin-bottom: 2rem;
    color: white;
}

.card-title:after {
    content: "";
    display: block;
    width: 45px;
    height: 2px;
    background-color: #fff;
    margin: .5rem auto 0;
}


.card-list, .card-icon-text {
    font-size: .875rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
    color:white;
}

.top-delay-recetas{

    overflow: hidden;
    border-radius: 20px;
    margin-bottom: 10px;
    position: relative;
    width: 100%;
    height: 100%;

 }

  .recetas-top{

	padding-top: 80px;
}


 @media screen and (max-width: 991px){

	.recetas-bus {
		margin-top: 0px;
	}

	.recetas-top{
		height: auto !important;

	}

	.recetas-top{

		padding-top: 0px !important;
	}

}

.slide-btn{
	background-color: #00913f;
	text-decoration: none !important;
	padding-right: 40px;
	padding-left: 40px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: white;
	font-size: 25px;
	font-family: cervo-light-1, cervo-light-2, arial;
}

.carousel-inner .carousel-item ul li{
	text-align: left !important;

	font-family: mark_pro-1, mark_pro-2, arial;
    font-size: 16px;
    text-align: left;
    line-height: 25px;
    color: #888b89;

}

.carousel-inner .carousel-item ul{

	margin-top: 40px;
}

.center {
	position: absolute !important;
    left: 50% !important;
    top: 50% !important;

    -webkit-transform: translate(-50%, -50%) !important;
}


.contacts{
	font-family: mark_pro-1, mark_pro-2, arial;
    font-size: 18px;
    line-height: 19px;
    color: #00913f;
    padding-left: 60px;
}


@media screen and (max-height: 650px){

	.padding-mapa{
		padding-bottom: 350px;
	}
}
